 @media screen and (max-width:1000px) {
     
     nav{height: 150px;
         
         
     }
     header{
         height: 150px;
         
     }
     .rowheader button{
         position: relative;
         left: 10px;
        height: 37px;
        width: 97px;
        color: white;
        background-color: #2874f0;
    }

 }